<!-- File Preview Modal -->
<button class="btn btn-secondary" hx-get="/preview_data" hx-target="#preview_data" hx-swap="innerHTML" hx-include="[name='file_id']" data-bs-toggle="modal" data-bs-target="#filePreviewModal"><span class="btn-text">View Preview</span></button>

<div class="modal fade" id="filePreviewModal" tabindex="-1" aria-labelledby="filePreviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filePreviewModalLabel">Preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="preview_data"></div>
      </div>
    </div>
  </div>
</div>

<!-- Saved Orders Modal -->
<button class="btn btn-primary" hx-get="/optimized_orders" hx-target="#saved_orders_data" hx-swap="innerHTML" hx-include="[name='file_id']" data-bs-toggle="modal" data-bs-target="#savedOrdersModal"><span class="btn-text">View Saved Orders</span></button>

<div class="modal fade" id="savedOrdersModal" tabindex="-1" aria-labelledby="savedOrdersModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="savedOrdersModalLabel">Saved History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="saved_orders_data"></div>
      </div>
    </div>
  </div>
</div>

