{% extends "base.html" %}

{% block title %}Order Optimization{% endblock %}

{% block content %}

<div x-data="{ isLoading: false}">
    <form method="post"  @submit="isLoading = true">
        {% csrf_token %}
        {% include "loading_overlay.html" %}
        {% include "user_greeting.html" %}
        <h1 class="mb-4">Order Optimization</h1>
        {% include "parameters_form.html" %}
        {% include "files_management_modals.html" %}

    </form>
</div>
    <!-- Results Section -->
    {% if results %}
        {% include "results.html" %}
    {% endif %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}