
        {% include "date_picker.html"%}
        <div >
            <div class="form-group mb-3">
                <label for="file_id" class="form-label">Select File:</label>
                <select id="file_id" name="file_id" hx-include="this" class="form-select">
                    {% for file in csv_files %}
                        <option value="{{ file.id }}" {% if file.id|stringformat:"s" == request.POST.file_id %}selected{% endif %}>{{ file.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="roll_pref" class="form-label">Roll Preferences:</label>
                <select id="roll_pref" name="roll_pref" hx-include="this" class="form-select">
                    {% for roll in roll_paper %}
                        <option value="{{ roll }}" {% if roll|stringformat:"s" == request.POST.roll_pref %}selected{% endif %}>{{ roll }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-wrap justify-content-start mt-3 gap-2">

                <div x-data="{ aiLoading: false }">
                    <button type="submit" name="ai" class="btn btn-danger" id="aiBtn"
                            x-on:click="aiLoading = true;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            x-show="aiLoading"></span>
                        <span class="btn-text" x-show="!aiLoading">Run</span>
                        <span class="btn-text" x-show="aiLoading">loading...</span>
                    </button>
                </div>

                {% include "form_modals.html" %}

                <button class="btn btn-danger" type="submit" name="reset">
                    <span class="btn-text">Reset</span>
                </button>
                {% if results %}
                <button class="btn btn-success" type="submit" name="save">
                    <span class="btn-text">Save</span>
                </button>
                {% endif %}
            </div>
        </div>
