{% comment %} <input x-model="search" placeholder="Search for a user..." type="search" /> {% endcomment %}

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">กำหนดส่ง</th>
        <th class="text-center">เลขที่ใบสั่งขาย</th>
        <th class="text-center">ชนิดส่วนประกอบ</th>
        <th class="text-center">จำนวนสั่งขาย</th>
        <th class="text-center">ตัดกว้าง</th>
        <th class="text-center">ตัดยาว</th>
        <th class="text-center">ประเภทตัดเส้น</th>
      </tr>
    </thead>
    <tbody>
      {% if not preview_data %}
        <tr>
          <td colspan="9">
            <i>No data available</i>
          </td>
        </tr>
      {% else %}
        {% for item in preview_data %}
          <tr>
            <td class="text-center">{{ item.due_date }}</td>
            <td class="text-center">{{ item.order_number }}</td>
            <td class="text-center">{{ item.component_type }}</td>
            <td class="text-center">{{ item.quantity }}</td>
            <td class="text-center">{{ item.width }}</td>
            <td class="text-center">{{ item.length }}</td>
            <td class="text-center">{{ item.edge_type }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
