<div class="table-responsive">
  <table id="dataTable" class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">ใบมีด</th>
        <th class="text-center">กำหนดส่ง</th>
        <th class="text-center">เลขที่ใบสั่งขาย</th>
        <th class="text-center">ชนิดส่วนประกอบ</th>
        <th class="text-center">จำนวนสั่งขาย</th>
        <th class="text-center">ตัดกว้าง</th>
        <th class="text-center">ตัดยาว</th>
        <th class="text-center">ประเภทตัดเส้น</th>
        <th class="text-center">out</th>
      </tr>
    </thead>
    <tbody>
      {% if not data %}
        <tr>
          <td colspan="9">
            <i>No data available</i>
          </td>
        </tr>
      {% else %}
        {% for order in data %}
          {% for blade in order %}
            {% for item in blade %}
            <tr>
              <td class="text-center">{{ item.blade }}</td>
              <td class="text-center">{{ item.deadline }}</td>
              <td class="text-center">{{ item.order_number }}</td>
              <td class="text-center">{{ item.order_type }}</td>
              <td class="text-center">{{ item.num_orders }}</td>
              <td class="text-center">{{ item.cut_width }}</td>
              <td class="text-center">{{ item.cut_len }}</td>
              <td class="text-center">{{ item.type }}</td>
              <td class="text-center">{{ item.out }}</td>
            </tr>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>