{% extends "base.html" %} {% block title %}Order Optimization{% endblock %}
{%block content %}
<h1>Input:</h1>

<form method="post" class="row mb-3">
    {% csrf_token %} {% if labels %}
     <div class="form-group mb-3">
        <label for="file_id" class="form-label">Select File:</label>
        <select id="file_id" name="file_id" hx-include="this" class="form-select">
            {% for file in csv_files %}
                <option value="{{ file.id }}" {% if file.id|stringformat:"s" == request.POST.file_id %}selected{% endif %}>{{ file.name }}</option>
            {% endfor %}
        </select>
    </div>

     <div class="col-2">
        <label for="models">Choose Models</label>
        <select name="models" id="models" class="form-control">
            <option value="ydf">YDF
            </option>
            <option value="cnb">CNB 
            </option>
        </select>
    </div>
 {% for category, label_list in labels.items%}
    <div class="col-2">
        <label for="{{category}}">{{category}}</label>
        <select name="{{ category }}" id="{{ category }}" class="form-control">
            {% for label in label_list %}
            <option value="{{ label }}"> 
              {{ label }}
            </option>
            {% endfor %}
        </select>
    </div>
    {% endfor %} {% else %}
    <p>No labels data available.</p>
    {% endif %}
    <button class="m-3 btn btn-primary" type="submit">Go</button>
</form>

<h1>Prediction:</h1>
{% if post_data.models == 'ydf'  %}
  <div class="table-responsive">
      <table id="dataTable" class="table table-striped table-hover">
          <thead>
              <tr>
                  <th class="text-center">Front Sheet</th>
                  <th class="text-center">C Wave</th>
                  <th class="text-center">Middle Sheet</th>
                  <th class="text-center">B Wave</th>
                  <th class="text-center">Back Sheet</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="text-center">{{ post_data.front_sheet}}</td>
                  <td class="text-center">{{ post_data.c_wave}}</td>
                  <td class="text-center">{{ post_data.middle_sheet}}</td>
                  <td class="text-center">{{ post_data.b_wave}}</td>
                  <td class="text-center">{{ post_data.back_sheet}}</td>
              </tr>
              <tr>
                  <td class="text-center">{{ prediction.front_sheet}}</td>
                  <td class="text-center">{{ prediction.c_wave}}</td>
                  <td class="text-center">{{ prediction.middle_sheet}}</td>
                  <td class="text-center">{{ prediction.b_wave}}</td>
                  <td class="text-center">{{ prediction.back_sheet}}</td>
              </tr>
          </tbody>
      </table>
  </div>


{% else %}

    {% for model, predictions in prediction.items %}
        <div class="model">
            <h2>{{ model }}:</h2>
            {% for item, details in predictions.items %}
                <div class="prediction">
                        {{ item }}: {{ details }}
               </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endif %}
{% endblock %}
