<!-- Messages Alert -->
{% if messages %}
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11" id="messagesAlert">
    {% for message in messages %}
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Notification</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">{{ message }}</div>
      </div>
    {% endfor %}
  </div>
{% endif %}
